<html>

<head>
<title> Skripsi'18- Afina Leds </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<body bgcolor="#F0F8FF"/>
<center>

<div id="flogin">
<h1><font face="Comic Sans MS">Login</font></h1>
<p><input type="text" id="fusername" placeholder="Username" style="width:70%;height:5em;"><br>
<input type="text" id="fpassword" placeholder="Password" style="width:70%;height:5em;"><br></p>
<input type="button" id="btnsubmit"  value="Submit" style="width:70%;height:5em;"><br> 

</div>

<div id="menu">
<h1><font face="Comic Sans MS">Menu</font></h1>

<input type="button" id="btnotomatis"  value="Otomatis" style="width:70%;height:5em;background-color: #BECBD7;"><br>
<input type="button" id="btnmanual" value="Manual" style="width:70%;height:5em;background-color: #BECBD7;"><br>
<input type="button" id="btnintensitas"  value="Intensitas Cahaya" style="width:70%;height:5em;background-color: #BECBD7;"><br> 
<input type="button" id="btnlogout"  value="Logout" style="width:70%;height:5em;background-color: #BECBD7;"><br> 
</div>

<div id="otomatis">
<h1><font face="Comic Sans MS">Mode Otomatis</font></h1>
<input type="button" id="pola1"  value="Pola 1" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="pola2" value="Pola 2" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="pola3"  value="Pola 3" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="pola4"  value="Pola4" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="pola5" value="Pola5" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="pola6"  value="Pola6" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" class="back"  value="Back" style="width:70%;height:5em;background-color: #FFFFFF;"><br>
</div>

<div id="intensitas">
<h1><font face="Comic Sans MS">Pengaturan Intensitas</font></h1>
<input type="button" id="l1a"  value="L1 Sangat Terang" style="width:70%;height:5em;background-color: #BECBD7;"><br>
<input type="button" id="l1b" value="L1 Terang" style="width:70%;height:5em;background-color: #BECBD7;"><br>
<input type="button" id="l1c"  value="L1 Redup" style="width:70%;height:5em;background-color: #BECBD7;"><br>
<input type="button" id="l1d"  value="L1 Gelap" style="width:70%;height:5em;background-color: #BECBD7;"><br>

<input type="button" id="l2a"  value="L2 Sangat Terang" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="l2b" value="L2 Terang" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="l2c"  value="L2 Redup" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="l2d"  value="L2 Gelap" style="width:70%;height:5em;background-color: #30A581;"><br>

<input type="button" id="l3a"  value="L3 Sangat Terang" style="width:70%;height:5em;background-color: #316354;"><br>
<input type="button" id="l3b" value="L3 Terang" style="width:70%;height:5em;background-color: #316354;"><br>
<input type="button" id="l3c"  value="L3 Redup" style="width:70%;height:5em;background-color: #316354;"><br>
<input type="button" id="l3d"  value="L3 Gelap" style="width:70%;height:5em;background-color: #316354;"><br>

<input type="button" id="l4a"  value="L4 Sangat Terang" style="width:70%;height:5em;background-color: #163754;"><br>
<input type="button" id="l4b" value="L4 Terang" style="width:70%;height:5em;background-color: #163754;"><br>
<input type="button" id="l4c"  value="L4 Redup" style="width:70%;height:5em;background-color: #163754;"><br>
<input type="button" id="l4d"  value="L4 Gelap" style="width:70%;height:5em;background-color: #163754;"><br>

<input type="button" class="back"  value="back" style="width:70%;height:5em;background-color: #FFFFFF;"><br>


</div>


<div id="manual"> <!-- LEDs -->
<h1><font face="Comic Sans MS">Mode Manual</font></h1>
<input type="text" id="keytuts"><br>
<input type="button" id="tuts1"  value="L1" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="tuts2" value="L2" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="tuts3"  value="L3" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="tuts4" value="L4" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="tuts5" value="L5" style="width:70%;height:5em;background-color: #30A581;"><br>
<input type="button" id="tuts6"  value="L6" style="width:70%;height:5em;background-color: #30A581;"><br>

<input type="button" class="back"  value="back" style="width:70%;height:5em;background-color: #FFFFFF;"><br>
</center>
</div>


<div id="ws-status"> Waiting... </div>

<!-- Scripts -->

<script src="{{ static_url("jquery.min.js") }}"></script>
<script src="{{ static_url("ws-client.js") }}"></script>
<script>

$('#otomatis').hide();
$('#manual').hide();
$('#intensitas').hide();
$('#menu').hide();
$('#btnsubmit').click(function(){
    var username = $('#fusername').val();
	var password = $('#fpassword').val();
	if(username=='admin' && password=='admin123'){
	  $('#flogin').hide();
	  $('#menu').show();
	  $('#otomatis').hide();
	  $('#manual').hide();
	  $('#intensitas').hide();  
	  $('#fusername').val("");
	  $('#fpassword').val("")
	} else {
	  window.alert("username atau password salah");
	}
});
$('#btnlogout').click(function(){
  $('#flogin').show();
  $('#menu').hide();
  $('#otomatis').hide();
  $('#manual').hide();
  $('#intensitas').hide();
});
$('#btnotomatis').click(function(){
  $('#flogin').hide();
  $('#menu').hide();
  $('#otomatis').show();
  $('#manual').hide();
  $('#intensitas').hide();
});
$('#btnintensitas').click(function(){
  $('#flogin').hide();
  $('#menu').hide();
  $('#otomatis').hide();
  $('#manual').hide();
  $('#intensitas').show();
});
$('#btnmanual').click(function(){
  $('#flogin').hide();
  $('#menu').hide();
  $('#otomatis').hide();
  $('#manual').show();
  $('#intensitas').hide();
});
$('.back').click(function(){
  $('#flogin').hide();
  $('#menu').show();
  $('#otomatis').hide();
  $('#manual').hide();
  $('#intensitas').hide();
});
</script>
</body>

</html>
